{% extends "public/body.html" %}

{% block title  %}
     Create New Student
{% endblock %}



{% block pagetitle %}
    Create New Student
{% endblock %}

{% block content %}

<div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">Create New Student</h4>
{#                            <p class="card-category">Complete your profile</p>#}
                        </div>
                        <div class="col-md-3">
{#                            <a href="{% url 'students.index'  %}" class="btn btn-sm btn-warning float-right"><i class="fa fa-plus"></i> Add</a>#}
                        </div>
                    </div>

                </div>
                <div class="card-body">
                  <form action="{% url 'students.store' %}" method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >First Name</label>
                          <input type="text" name="first_name" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Last Name</label>
                          <input type="text" name="last_name" class="form-control">
                        </div>
                      </div>
                    </div>
                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Father Name</label>
                          <input type="text" name="fatherName" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Mother Name</label>
                          <input type="text" name="motherName" class="form-control">
                        </div>
                      </div>
                    </div>
                      <div class="row">
                     <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Date of Birth</label>
                          <input type="text" name="dateOfBirth" class="form-control flatpicker">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Enrollment Number</label>
                          <input type="text" name="enrollmentNumber" class="form-control">
                        </div>
                      </div>
                    </div>
                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Scholarship Number</label>
                          <input type="text" name="scholarshipNumber" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Adhaar Number</label>
                          <input type="text" name="adhaarNumber" class="form-control">
                        </div>
                      </div>
                    </div>
                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Family Id</label>
                          <input type="text" name="familyId" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >SSSM Id</label>
                          <input type="text" name="sssmId" class="form-control">
                        </div>
                      </div>
                    </div>
                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Bank Name</label>
                          <input type="text" name="bankName" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Bank IFSC Code</label>
                          <input type="text" name="bankIfsc" class="form-control">
                        </div>
                      </div>
                    </div>
                     <div class="row">
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Bank Account Number</label>
                          <input type="text" name="accountNumber" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Mobile Numer</label>
                          <input type="number" name="mobileNumber" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label >Gender</label><br/>
                          <input type="radio" name="gender" value="1" checked> Male
                          <input type="radio" name="gender" value="2" > Female
                          <input type="radio" name="gender" value="3" > Other
                        </div>
                      </div>
                        <div class="col-md-4">
                           <div class="form-group bmd-form-group">
                          <label >Is Regualr</label>
                          <input type="radio" name="regular" value="1" checked > Regular
                          <input type="radio" name="regular" value="0" > Private
                        </div>

                      </div>
                    <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label >Height</label>
                          <input type="text" name="height"  class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                     <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label >Select Course</label>
                          <select name="course" class="form-control select2">
                              <option selected disabled>Select</option>
                              {% for course in courses %}
                              <option value="{{ course.id }}">{{ course.courseName }}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label >Select medium</label>
                          <select name="medium" class="form-control select2">
                              <option selected disabled>Select</option>
                              {% for medium in mediums %}
                              <option value="{{ medium.id }}">{{ medium.mediumName }}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                         <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label >Type  {{ student.StudentType }}</label>
                          <select name="types_id" class="form-control select2">
                              <option selected disabled>Select</option>
                              {% for type in types %}
                              <option value="{{ type.id }}" >{{ type.TypeName }}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label >Country</label>
                           <select name="country" onchange="SelectCountry(this.value)" class="form-control select2">
                              <option selected disabled>Select</option>
                              {% for country in countries %}
                              <option value="{{ country.id }}" {% if country.id == 101 %} selected {% endif %}>{{ country.countryName }}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label >State</label>
                           <select name="state" id="State" onchange="SelectState(this.value)" class="form-control select2">
                              <option selected disabled>Select</option>
                               {% for state in states %}
                              <option value="{{ state.id }}" >{{ state.stateName }}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                     <div class="col-md-4">
                        <div class="form-group bmd-form-group">
                          <label >City</label>
                          <select  id="Cities" name="city" class="form-control select2">
                              <option selected disabled>Select</option>
                          </select>
                        </div>
                      </div>
                    </div>
                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                          <label >Adress</label>
                          <textarea name="address" class="form-control"></textarea>
                            <div class="form-group bmd-form-group">
                          <label >Postal Code</label>
                          <input type="number" name="postalCode" class="form-control">
                        </div>
                        </div>

                      </div>
                       <div class="col-md-6">
                         <div class="form-group bmd-form-group">
                          <label >Select Image</label>
                          <input type="file" name="image" onchange="readURL(this);" accept="image/*" class="form-control" style="opacity: 1;position: initial">
                             <img id="Image"  width="150px" />
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Create</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}


{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        $(".flatpicker").flatpickr({
            dateFormat: "Y-m-d"
        });
         $('.select2').select2();
         function SelectCountry(id) {
             $.get('{% url 'students.countries' %}?country='+id,function (resp) {
                 $('#State').html(resp);
             })
         }

         function SelectState(id) {
             $.get('{% url 'students.states' %}?states='+id,function (resp) {
                 $('#Cities').html(resp);
             })
         }
         function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Image').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>
{% endblock %}