{% extends "public/body.html" %}

{% block title  %}
     classes
{% endblock %}



{% block pagetitle %}
    classes
{% endblock %}

{% block content %}

        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-8 col-md-8">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Add Template</h4>
                  </div>
                <div class="card-body">
                </div>
              </div>
            </div>

             <div class="col-lg-4 col-md-4">
              <div class="card">
                <div class="card-header card-header-success">
                  <h4 class="card-title">Objects</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <label>Student Name</label>
                            <input readonly class="form-control" value="asdasdasdasdasd"/>
                        </li><li class="list-group-item">
                            <label>Student Name</label>
                            <input readonly class="form-control" value="asdasdasdasdasd"/>
                        </li><li class="list-group-item">
                            <label>Student Name</label>
                            <input readonly class="form-control" value="asdasdasdasdasd"/>
                        </li><li class="list-group-item">
                            <label>Student Name</label>
                            <input readonly class="form-control" value="asdasdasdasdasd"/>
                        </li><li class="list-group-item">
                            <label>Student Name</label>
                            <input readonly class="form-control" value="asdasdasdasdasd"/>
                        </li><li class="list-group-item">
                            <label>Student Name</label>
                            <input readonly class="form-control" value="asdasdasdasdasd"/>
                        </li><li class="list-group-item">
                            <label>Student Name</label>
                            <input readonly class="form-control" value="asdasdasdasdasd"/>
                        </li>
                    </ul>
                </div>
              </div>
            </div>

          </div>



        </div>


    <!-- Button trigger modal -->
{% endblock %}
{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script>
    </script>
{% endblock %}

