{% extends "public/body.html" %}

{% block title  %}
     {{ exam.courseExam.course.courseName }} :: {{ exam.courseExam.exam.examName }} Marks Manage
{% endblock %}



{% block pagetitle %}
    {{ exam.courseExam.course.courseName }} :: {{ exam.courseExam.exam.examName }}
{% endblock %}

{% block content %}

<div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title">{{ exam.courseExam.course.courseName }} :: {{ exam.courseExam.exam.examName }} Exams</h4>
{#                            <p class="card-category">Complete your profile</p>#}
                        </div>
                        <div class="col-md-3">
                            <a href="{% url 'marks.generate' exam.id %}" class="btn btn-sm btn-warning float-right"><i class="fa fa-plus"></i> Generate</a>
{#                            <a href="{% url 'students.excel'  %}" class="btn btn-sm btn-success float-right"><i class="fa fa-file-excel"></i> Excel</a>#}
                        </div>
                    </div>

                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Student Name</th>
                            <th>Roll NUmber</th>
                            {% for subject in exam.courseExamSubject.all %}
                                <th>{{ subject.subject.subjectName }}</th>
                            {% endfor %}
                            <th>Result</th>
                            <th>Options</th>
                        </tr>
                        {% for student in exam.courseexam.all %}
                            <tr>
                                <td>{{ student.student.user.first_name }} {{ student.student.user.last_name }}</td>
                                <td>{{ student.student.rollNumber }}</td>


                                {% for mark in student.markstudent.all %}
                                    <td title="{{ mark.examSubject.subject.subjectName }}">{{ mark.marks }}</td>
                                {% endfor %}
                                <td title="Result">{{ student.result }}</td>
                                <td><a href="{% url 'marks.student' exam.id student.id %} "><i class="material-icons">edit</i></a></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}


{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script>
        function Delete(id){
            $.confirm({
    title: 'Confirm!',
    content: 'Are you sure to Delete This ?',
    buttons: {
        confirm: function () {
           window.location = '{% url 'session.index' %}'+id+'/delete';
        },
        cancel: function () {
            {#$.alert('Canceled!');#}
        },
    }
});
        }
    </script>
{% endblock %}