{% extends "public/body.html" %}

{% block title  %}
     {{ exam.courseExam.course.courseName }} :: {{ exam.courseExam.exam.examName }} Marks Manage
{% endblock %}



{% block pagetitle %}
    {{ exam.courseExam.course.courseName }} :: {{ exam.courseExam.exam.examName }}
{% endblock %}

{% block content %}

<div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="card-title">{{ exam.courseExam.course.courseName }} :: {{ exam.courseExam.exam.examName }} Exams</h4>
{#                            <p class="card-category">Complete your profile</p>#}
                        </div>
                        <div class="col-md-2">
                            <div class="dropdown">
                              <a class=" dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" onclick="SetRollNumber()" href="javascript:void(0)">Set Roll Number</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body table-responsive">
                {% csrf_token %}
                    <table class="table table-striped">
                        <tr>
                            <th>Student Name</th>
                            <th>Roll NUmber</th>
                            {% for subject in exam.courseExamSubject.all %}
                                <th ><a href="{% url 'marks.subject' exam.id subject.id %} ">{{ subject.subject.subjectName }} <i class="material-icons edit_submarkth" id="edit_submarkth_{{forloop.counter}}">edit</i></a></th>
                            {% endfor %}
                            <th>Result</th>
                            <th>Options</th>
                        </tr>
                        {% for student in exam.courseexam.all %}
                            <tr>
                                <td>{{ student.student.user.first_name }} {{ student.student.user.last_name }}</td>
                                <td>{{ student.student.rollNumber   }}</td>
                                     {% for mark in student.markstudent.all %}
                                <td class="editsubmark_{{forloop.counter}}" id="subid_{{ mark.id}}">{{ mark.marks }}</td>
                                {% endfor %}
                                <td title="Result">{{ student.result }}</td>
                                <td><a href="{% url 'marks.student' exam.id student.id %} "><i class="material-icons">edit</i></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}


{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script>
        function SetRollNumber() {
            $.confirm({
                    title: 'Set Roll Number',
                    content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>Enter first roll number</label>' +
                    '<input type="text" placeholder="501" class="name form-control" required />' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<label>Select Order</label>' +
                    '<select  class="form-control" required >' +
                    '<option value="0" selected>Current Order</option>' +
                    '<option value="1" >Order By Name (Ascending)</option>' +
                    '<option value="2" >Order By Name (descending)</option>' +
                    '</select>' +
                    '</div>' +
                    '</form>',
                    buttons: {
                        formSubmit: {
                            text: 'Submit',
                            btnClass: 'btn-blue',
                            action: function () {
                                var name = this.$content.find('.name').val();
                                if(!name){
                                    $.alert('provide a valid name');
                                    return false;
                                }
                                $.alert('Your name is ' + name);
                            }
                        },
                        cancel: function () {
                            //close
                        },
                    }
                });
        }
    </script>
{% endblock %}

